<% extend("master.ejs") %>
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Lịch trình của Phòng khám<main></main>
    </h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-10 mx-auto">
      <form method="GET" action="/users/manage/schedule-doctor/create-all">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="datepicker">Từ ngày:</label>
            <input class="form-control" data-date-format="dd/MM/yyyy" id="datepicker" name="DatechonStart"
              value="<%= startOfWeek %>">
          </div>
          <div class="form-group col-md-2">
            <label for="datepicker">Đến ngày:</label>
            <input class="form-control" data-date-format="dd/MM/yyyy" id="datepicker" name="DatechonEnd"
              value="<%= endOfWeek %>" readonly>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-2">
            <label for="monthPicker">Tháng:</label>
            <select class="form-control" id="monthPicker" name="month">
              <% for (let i=1; i <=12; i++) { %>
                <option value="<%= i %>" <%=i===currentMonth ? 'selected' : '' %>>
                  <%= i %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="form-group col-2">
            <label for="yearPicker">Năm:</label>
            <select class="form-control" id="yearPicker" name="year">
              <% for (let i=currentYear - 5; i <=currentYear + 10; i++) { %>
                <option value="<%= i %>" <%=i===currentYear ? 'selected' : '' %>>
                  <%= i %>
                </option>
                <% } %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-32 h-38" id="createScheduleAll">Tạo lịch</button>
        </div>
      </form>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lịch làm việc</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th style="width: 5%;">TT</th>
                <th style="width: 15%;">Chuyên khoa</th>
                <% weekDays.forEach(function(day) { %>
                  <th colspan="2" style=`width: <%=100 / (weekDays.length * 2) %>%; text-align: center;`>
                    <%= day.label.replace('Nam', 'Năm' ).replace('Sau', 'Sáu' ) %><br>
                      <%= day.date %>
                  </th>
                  <% }) %>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <% weekDays.forEach(function(day) { const columnWidth=50 / weekDays.length; %>
                  <th style=`width: <%=columnWidth %>%;`>Ca thường</th>
                  <th style=`width: <%=columnWidth %>%;`>Ca trực</th>
                  <% }) %>
              </tr>
            </thead>
            <tbody>
              <% specializations.forEach(function(specialization) { %>
                <tr>
                  <td>
                    <%= specialization.id %>
                  </td>
                  <td>
                    <%= specialization.name %>
                  </td>
                  <% weekDays.forEach(function(day) { const columnWidth=50 / weekDays.length; %>
                    <td style=`width: <%=40 / weekDays.length %>%;`>
                      <% const onCallDoctor=listScheduleAll.find(schedule=>
                        schedule.date === day.date &&
                        schedule.specializationId === specialization.id &&
                        schedule.type === 'regular'
                        );
                        %>
                        <%= onCallDoctor && onCallDoctor.User ? onCallDoctor.User.name : 'X' %>
                    </td>
                    <td style=`width: <%=40 / weekDays.length %>%;`>
                      <% const regularDoctor=listScheduleAll.find(schedule=>
                        schedule.date === day.date &&
                        schedule.specializationId === specialization.id &&
                        schedule.type === 'on-call'
                        );
                        %>
                        <%= regularDoctor && regularDoctor.User ? regularDoctor.User.name : 'X' %>
                    </td>
                    <% }) %>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#liSchedule").addClass('active');
      $('#datepicker').datepicker({
        format: 'dd/MM/yyyy',
        autoclose: true
      }).datepicker('update', '<%= startOfWeek %>');

      $('#datepicker').on('changeDate', function () {
        $(this).closest('form').submit();
      });
    });
    $(document).ready(function () {
      $("div #featureManage").addClass('show');
      $("div #featureManage").find($("#aManageCalendar")).addClass("active");
      $(".admin-list-posts").removeClass("active");
    })
  </script>
