<% extend("master.ejs") %>

    <!-- Phần HTML/EJS -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Quản lý kế hoạch</h1>
        <button type="button" class="btn btn-primary" id="showBookingTimeOff">
            <i class="fas fa-calendar-alt"></i>
            Xin nghỉ
        </button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kế hoạch</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Kế hoạch</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sevenDaySchedule.forEach(function(day, index) { %>
                            <tr>
                                <td name="dayTime">
                                    <%= day %>
                                        <input type="text" name="dayTime" value="<%= day %>" style="display: none;">
                                </td>
                                <td>
                                    <% const allTimeSlots=[ "8:00 - 8:15" , "8:20 - 8:35" , "8:40 - 8:55"
                                        , "9:00 - 9:15" , "9:20 - 9:35" , "9:40 - 9:55" , "10:00 - 10:15"
                                        , "10:20 - 10:35" , "10:40 - 10:55" , "13:00 - 13:15" , "13:20 - 13:35"
                                        , "13:40 - 13:55" , "14:00 - 14:15" , "14:20 - 14:35" , "14:40 - 14:55"
                                        , "15:00 - 15:15" , "15:20 - 15:35" , "15:40 - 15:55" , "16:00 - 16:15"
                                        , "16:20 - 16:35" , "16:40 - 16:55" ]; %>
                                        <% allTimeSlots.forEach(function(timeSlot) { %>
                                            <% let booked=false; %>
                                                <% schedules.forEach(function(schedule) { %>
                                                    <% if (schedule.date===day && schedule.time===timeSlot) { %>
                                                        <% booked=true; %>
                                                            <% if(schedule.sumBooking !=="0" ) { %>
                                                                <button class="btn btn-primary mr-3 mt-1 mb-3">
                                                                    <%= timeSlot %>
                                                                </button>
                                                                <% } else { %>
                                                                    <button
                                                                        class="btn btn-outline-warning mr-3 mt-1 mb-3">
                                                                        <%= timeSlot %>
                                                                    </button>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% }); %>
                                                                                <% if (!booked) { %>
                                                                                    <button
                                                                                        class="btn btn-light mr-3 mt-1 mb-3">
                                                                                        <%= timeSlot %>
                                                                                    </button>
                                                                                    <% } %>
                                                                                        <% }) %>
                                </td>
                                <td class="">
                                    <a class="delete-schedule-info" href="#" title="Delete" id="deleteSchedule"
                                        data-schedule-day="<%= day %>">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal booking time off -->
    <div class="modal fade" id="modalBookingTimeOff" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel">Thời gian xin nghỉ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="doctorId" name="doctorId" value="<%= user.id %>">

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label>Họ tên:</label>
                            <input type="text" class="form-control" id="doctorName" name="doctorName"
                                placeholder="<%= user.name %>" value="<%= user.name %>" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label>Từ ngày:</label>
                            <input type="text" class="form-control" id="startDate" name="startDate">
                        </div>
                        <div class="form-group col-2">
                            <label>Đến ngày:</label>
                            <input type="text" class="form-control" id="endDate" name="endDate">
                        </div>
                        <div class="form-group col-6">
                            <label>Lí do</label>
                            <textarea class="form-control" name="timeoffReason" id="timeoffReason"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-view-history"
                        data-dismiss="modal">Gửi</button>
                </div>
            </div>
        </div>
    </div>
